*{
font-family:'comic sansMS', cursive;
}
body{
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
background-color: black;
color: white;
}
main{
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}
th, td{
padding: 10px;
}